# IDEs and editors
/.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# dependencies
/node_modules

# misc
yarn-error.log

# System Files
.DS_Store
Thumbs.db

# compiled output
/build

# env
.env